html { }
html, body { color:#333333; font-family:arial,helvetica,sans-serif; font-size:12px; background: white; height: 100%;    }
body { margin: 0px auto;  padding: 0px; min-width: 1015px; max-width: 1330px; background: url(/202-img/bg-l.png) repeat-y 0% 0%; }

img{ border: 0px; margin: 0px; }

a, a:link, a:active, a:visited, a.onclick_color {
	text-decoration: none; 
	color : #003399; 
   	cursor: pointer;
}

a:hover, a.onclick_color:hover    { 
	text-decoration: underline; /*color : #DD6900;*/
}

.shrink-width{ width: 1%; }

.body { background: url(/202-img/bg-r.png) repeat-y 100% 100%; min-width: 1015px; max-width: 1330px; margin: 0px auto; 	 height:auto !important; /* real browsers */ height:100%; /* IE6: treaded as min-height*/ min-height:100%; /* real browsers */ }
.body-content { background: url(/202-img/bg-l.png) repeat-y 0% 0%;  padding: 30px 120px; height:auto !important; /* real browsers */ height:100%; /* IE6: treaded as min-height*/ min-height:100%; /* real browsers */}

.skyline { text-align: right; background: rgb(244,244,244); -moz-border-radius: 5px; padding: 10px; border: 1px solid rgb(222,222,222); }
.skyline a { padding: 0px 3px; }

.header { width: 100%; } 
.headline { width: 100%; background: #e5ecf9; border-top: 1px #00639E solid; padding: 2px; clear: both; display: block;}
.headline td {  font-size: 13px; font-weight: bold; }
.headline td a { color:#333333;  text-decoration: none; }
.headline td a:hover { text-decoration: underline; }

#new_offers { color: red; font-weight: bold; }

.alert { width: 100%; background: #FFFFD5; border: #FFDDAA solid; border-width: 0px 1px 1px; padding: 2px; -moz-border-radius:5px 5px 5px 5px;}
.alert td {  font-size: 12px; text-align: center; }

.alert2 { width: 85%; background: #FFD1D3; border: #FBA4A4 solid; border-width: 1px; padding: 10px; margin: 15px auto 0px; -moz-border-radius:5px 5px 5px 5px; }
.alert2 td {  font-size: 12px; text-align: left; }
.alert2 td h2 { margin: 0px 0px 7px; float: right; }
.alert2 td div { padding-top: 2px;  }
.alert2 ul { margin: 0px; padding: 0px 0px 0px 20px; }
.alert2 ul li { padding-top: 5px; padding-bottom: 5px; margin: 0px; }

.footer { border-top:1px solid #CCCCCC; margin:40px 0pt; padding:20px 0pt 0pt; text-align: center; font-size: 11px; }
.outofdate { font-weight: bold; }


.slim { margin-left: 3em; margin-right: 1em; } 
.welcome {width: 52%; float: left;  }
.products { width: 40%; float: right; }

.advertise { height: 150px; width: 100%; border: 0px; scroll: none; }
.advertise-top-left { height: 60px; width: 225px; border: 0px; scroll: none; margin-right: 10px;}
 


.first { margin-top: 0px; } 
.last { margin-bottom: 0px; }

.bold { font-weight: bold; }

h1,h2,h3,h4,h5 { margin-bottom: 5px; padding: 0px;  }

h1,h2 { font-size: 18px; }
h3 { font-size: 14px; } 
h4 { font-size: 12px; }

.news_icon { margin-right: 5px; margin-bottom: -3px; }

/*input, select, textarea {  padding: 3px; background:#F4F4F4 none repeat scroll 0%; border:1px solid #B2B2B2;}*/
.submit { background: #DFDFDF; border-color:#CCCCCC rgb(153, 153, 153) rgb(153, 153, 153) rgb(204, 204, 204); border-style:solid; border-width:1px; color:#333333;  }

.warning { background: url('/202-img/css_warning.png') 0 100% no-repeat;  padding: 0 0 7px 0; color: #999; margin: 10px 0; clear: left; text-align: left;overflow: hidden; line-height: 1.4em; }
.warning div { background: url('/202-img/css_warning.png') 0 0 no-repeat;   padding: 8px 0 0 50px;    min-height: 35px;    text-align: left;    overflow: hidden; } 
.warning p{ margin-top: 4px;  margin-bottom: 0; }
.warning h3{ margin-top: 0px;   font-size: 120%;   color: #900;   font-weight: bold;   margin-bottom: 2px; }
.success{  background: url('/202-img/css_success.png') 0 100% no-repeat;    padding: 0 0 7px 0;    color: #999;    margin: 10px 0;    clear: left;	overflow: hidden;	line-height: 1.4em; }
.success div{    background: url('/202-img/css_success.png') 0 0 no-repeat;   padding: 8px 0 0 50px;     min-height: 35px;    overflow: hidden; } /*IE6*/
.success p {   margin-bottom: 0; }
.success h3 {   margin-top: 0px;   font-size: 120%;   color: #027401;   font-weight: bold;  margin-bottom: 2px; }
.error {    background:  url('/202-img/css_error.gif') no-repeat;   color: #900;    font-size: 10px;    font-weight: bold;    margin: .4em 0em .8em 0em;      padding: 2px 0 4px 18px;    text-align: left;    overflow: hidden; }


.info { text-align: center; padding: 8px; }
.dashed {border-bottom: rgb(200,200,200) dashed 1px; }

.apps { font-size: 105%; line-height: 1.2em; }
.apps a { font-weight: bold; }

.section { width: 100%; margin-top: 10px;  }
.section td { width: 100%; }
.section .left { width: 0%; white-space: nowrap;  }
.section .left h2 { white-space: nowrap; font-size: 18px;}



hr { background-color: rgb(233,233,233); border:0pt none;height:1px;margin:20px 10px 10px;text-align:left;width:100%; } 

.product-image { padding: 6px 12px 6px 0px; } 

.red { color: #900; }


.csv-input, .csv-table  { width: 100%; margin: 0px auto 30px; border: 1px solid rgb(175, 175, 175); background: rgb(244,244,244); padding: 20px 40px;  -moz-border-radius-topleft: 15px; -moz-border-radius-topright: 15px; -moz-border-radius-bottomright: 15px; -moz-border-radius-bottomleft: 15px; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; text-align: center;}
.csv-table { width: 100%;  text-align: left; background: white;}
.csv-data { width: 100%; } 
.csv { width: 100%; height: 300px; }





#s-pop1, #s-pop2 {font-size:12px; background-color:#FFFFFF; border:#666666 2px solid; width:31%; height:auto; position:absolute;}
#s-pop1 {top:36px;}
#s-pop2 {top:50px;}
.s-pop-close {padding:2px 4px; background-color:#666666; border-bottom:#DDDDDD 1px solid; text-align:right;}
.s-pop-close a {color:#FFFFFF; text-decoration:none;}
.s-pop-close a:hover {text-decoration:underline;}
.s-pop-content {padding:5px 15px;}
.s-pop-content ul, s-pop-content ol {margin-left:20px;}

.center { text-align: center; }
.left { text-align: left; }
.right { text-align: right; }

.big-alert { margin: 50px; background: #FFEFF0; border: 1px solid #FF9FA3; font-size: 1.5em; text-align: center; padding: 50px 20px; line-height: 1.8em; }

.pointer{ cursor: pointer; }

.setup-table { border: 1px solid rgb(200,200,200);  margin: 0px auto; }
.setup-table th { background: #E0E5FF; }
.setup-table th, .setup-table td { padding: 7px; }

#stats202-download-status { padding: 20px 10px; color: #007F65; font-size: 14px; }